:root {
    --sidebar-options: 18px;
    height: 100vh;
    width: 100vw;
}
html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}
@font-face {
    font-family: "title";
    src: url(font/BitcountGridDouble_Cursive-Regular.ttf) format('truetype');
}
.container {
    display: flex;
}
.sidebar {
    display: grid;
    position: relative;
    background-color: rgb(0, 236, 252);
    height: 140vh;
    width: 20vw;
    top: 0;
    left: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 150px;
}
.dashboard-title {
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    gap: 10px;
}
.dashboard-title-image {
    width: 50px;
    height: 50px;
}
.dashboard-title-text { 
    font-size: 36px;
    margin-top: 2px;
    padding-top: 2px;
    font-family: "title";
}
.sidebar-container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 40px);
    grid-template-areas: 
    "home"
    "profile" 
    "messages" 
    "history" 
    "tasks" 
    "communities" 
    "." 
    "settings" 
    "support" 
    "privacy";
}
.img {
    height: 25px;
    width: 25px;
    margin-top: 10px;
}
.txt {
    font-size: var(--sidebar-options);
    margin-left: 5%;
}
.cont-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 50px 150px;
    margin-left: 10%;
}
.cont-grid.home { 
    grid-area: home;
}
.cont-grid.profile {
    grid-area: profile;
}
.cont-grid.messages {
    grid-area: messages;
}
.cont-grid.history {
    grid-area: history;
}
.cont-grid.tasks {
    grid-area: tasks;
}
.cont-grid.communities {
    grid-area: communities;
}
.cont-grid.settings {
    grid-area: settings;
}
.cont-grid.support {
    grid-area: support;
}
.cont-grid.privacy {
    grid-area: privacy;
}
.main {
    flex: 2;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    height: 30vh;
    background-color: lightslategrey;
}
.img.search {
    margin: auto;
    transform: translate(50px, 48px);
}
.searchindicator {
    margin: auto;
    transform: translate(80px, 20px);
    width: 40vw;
    height: 3vh;
    border-radius: 8px;
    border: none;
}
.bell {
    width: 20px;
    height: 20px;
    margin: auto;
    transform: translate(970px, -30px);
}
.yuuki-img {
    border-radius: 360px;
    width: 50px;
    height: 50px;
    margin: auto;
    transform: translate(975px, -15px);
}
.yuuki-txt {
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    transform: translate(450px, -35px);
}
.yuuki-welcome {
    position: relative;
    border-radius: 360px;
    width: 50px;
    height: 50px;
    margin: auto;
    transform: translate(-525px, 40px);
}
.welcome {
    margin: auto;
    white-space: nowrap;
    margin: 0px;
    transform: translate(-500px, 90px);
}
.welcome-name {
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
    transform: translate();
}
button {
    border: none;
    border-radius: 180px;
    margin-right: 30px;
    height: 40px;
    width: 100px;
    background-color: rgb(0, 236, 252);
}
.buttons {
    display: flex;
    position: relative;
    transform: translate(-10px, 140px);
}
.main-body{
    display: flex;
    position: relative;
    border-color: black;
    height: 100vh;
}
.projects {
    display: grid;
    width: 65%;
    height: 100vh;
}
.title-projects {
    font-family: title;
    justify-self: center;
    margin: 10px 0 0 0;
    font-size: 32px;
    height: 5%;
}
.grid-projects {
    display: grid;
    height: 100vh;
    margin: 0 0 0 0;
    grid-template: 200px 200px / 300px 300px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.announcements {
    display: grid;
    width: 35%;
}
.title-announcements {
    font-family: title;
    justify-self: center;
    height: fit-content;
    font-size: 32px;
}
.grid-announcements {
    display: grid;
    grid-template: 100px 100px 100px / 300px;
    grid-template-areas: 
    "maintenance"
    "community-share-day"
    "updated-privacy-policy";
    justify-content: center;
    gap: 20px;
}
.info-ann {
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.cont-announce {
    font-size: 15px;
}
.cont-announce-child {
    font-size: 12px;
}
.trending {
    font-family: title;
    justify-self: center;
    height: 30px;
    margin: 40px 0 0 0;
}
.grid-trending {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 300px;
    grid-template-areas: 
    "person1"
    "person2"
    "person3";
    justify-content: center;
    height: 100%;
    margin: 10px 0 0 0;
    gap: 40px;
}
.trend {
    display: flex;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.trend-img {
    height: 50px;
    width: 50px
}
.profile-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}
.username {
    font-weight: bold;
}
.user-title {
    font-size: 12px;
    color: gray;
}