:root {
    background: #EEAECA;
    background: radial-gradient(circle,
    rgba(238, 174, 202, 1) 0%, 
    rgb(148, 187, 233) 100%);

}
@font-face {
    font-family: "external";
    src: url(fonts/BitcountGridDouble_Cursive-Regular.ttf) format('truetype');
}
.container {
    display: flex;
    align-items: flex-start;
}
div{
    margin-top: 20px;
}
.signup-title{
    font-size: 45px;
    font-family: "external";
    font-weight: 500px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31rem;
    z-index: 4;
}
.credits{
    color: white;
    text-align: center;
    position: absolute;
    top: 93%;
    left: 22%;
    z-index: 5;
}
a{
    color: white;
}
a:hover{
    color: red;
}
.background-photo {
    position: relative;
    display: inline-block;
    margin-left: 4rem;
    width: 31rem;
}
.background-photo > img {
    height: 40rem;
    width: 31rem;
    display: block;
}
.background-form{
    background: white;
    position: relative;
    height: 40rem;
    width: 56rem;
}
.introduction {
    font-size: 36px;
    text-align: center;
}
.input-form{
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.field-set{
    width: 80%;
    margin: auto;
}
.create-account{
    background-color: rgb(29, 224, 39);
    border: none;
    color: white;
    height: 40px;
    width: 120px;
}
.login{
    color: blue;
}