:root{
    height: 100%;
    width: 100%;
}
.header {
    font-size: 42px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.add-form {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 400px;
    height: 200px;
    z-index: 5;
}
.input-field {
    margin: 30px;
}
.inputs {
    margin: 8px;
}